<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Nav Experiment 02</title>
    <%= stylesheet_link_tag    "experiment-02", :media => "all" %>
    <%= javascript_include_tag "experiment-02" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= "!" %>
  </body>
</html>
