<!DOCTYPE html>
<html>
  <head>
    <title>Horizontal Nav</title>
    <%= stylesheet_link_tag    "horizontal-nav", :media => "all" %>
    <%= javascript_include_tag "horizontal-nav" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  </body>
</html>
